.empty {
    position: relative;
    margin: 0 auto;
    height: 200px;
    
}

.empty-container {
    position: relative;
    background-color: black;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    top: -5rem;
    border-radius: 10px;
}

.empty .empty-col {
    
    border-right: 2px solid white;
}